python-telegram-bot
python-telegram-bot[job-queue]
httpx
aiohttp
beautifulsoup4
redis
nest-asyncio
psutil
user_agent
requests
requests-toolbelt
bs4
brotli
brotli-asgi
h2
faker>=18.0.0
playwright==1.40.0
playwright-stealth==1.0.6
curl_cffi>=0.5.0
